/* Colors:
    #FF3333 // light red
    #EB0404 // dark red
    #F8FFFB // white
    #EDEDED // gray
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ededed;
    font-family: 'Khula', sans-serif;
    overflow-x: hidden;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20.3rem;
    padding: 5rem;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    width: 100vw;
}

.nav-color {
    background-color: rgba(178, 178, 178, 0.9);
}

nav a {
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 15px;
}

nav a:hover {
    background-color: #eb0404;
    color: #F8FFFB;
}

.logo {
    width: 35px;
    margin-bottom: 3.5px;
    padding-right: 3px;
    padding-left: 3px;
}

.logo-box {
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    height: 22rem;
    font-weight: 100;
}

#home h1 {
    font-size: 5rem;
}

#home h2 {
    font-size: 2rem;
}

#home img {
    height: 40vh;
    width: 22vw;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(178, 178, 178, 0.8);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(178, 178, 178, 0.8);
    -moz-box-shadow: 10px 10px 5px 0px rgba(178, 178, 178, 0.8);
}

.home-flex {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.heading-txt {
    display: flex;
    flex-direction: column;
}

.contact-btn {
    color: #767676;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 90px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    transition: 0.4s;
}

.contact-btn:hover {
    background-color: #F8FFFB;
    color: black;
}

#about {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    background-color: rgba(178, 178, 178, 0.1);
    border-radius: 30% 30% 30% 30% / 20% 80% 20% 80%;
}

.about-flex {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    width: 70%;
}

.dev-skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.skill {
    border: 3px solid rgba(178, 178, 178, 0.9);
    width: 100px;
    height: 100px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill img {
    width: 5vw;
}

#projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50rem;
    width: 100%;
    /* margin-top: 15rem; */
}

#all-proj {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.proj-img {
    width: 28vw;
}

.proj-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
}

.web-img {
    width: 3vw;
}

.git-img {
    width: 3vw;
}

.proj-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem;
}

form {
    display: flex;
    flex-direction: column;
}
  
/* background-color: rgba(178, 178, 178, 0.9) */