/* Colors:
    #FF3333 // light red
    #EB0404 // dark red
    #F8FFFB // white
    #EDEDED // gray
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ededed;
    font-family: 'Khula', sans-serif;
    overflow-x: hidden;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20.3rem;
    padding: 5rem;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    width: 100vw;
}

.nav-color {
    background-color: rgba(178, 178, 178, 0.9);
}

nav a {
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 15px;
}

nav a:hover {
    background-color: #eb0404;
    color: #F8FFFB;
}

.logo {
    width: 35px;
    margin-bottom: 3.5px;
    padding-right: 3px;
    padding-left: 3px;
}

.logo-box {
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail-img {
    width: 35px;
    margin-bottom: 3.5px;
    padding-right: 3px;
    padding-left: 3px;
}

#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    height: 22rem;
    font-weight: 100;
}

#home h1 {
    font-size: 5rem;
}

#home h2 {
    font-size: 2rem;
}

#home img {
    height: 40vh;
    width: 22vw;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(178, 178, 178, 0.8);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(178, 178, 178, 0.8);
    -moz-box-shadow: 10px 10px 5px 0px rgba(178, 178, 178, 0.8);
}

.home-flex {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.heading-txt {
    display: flex;
    flex-direction: column;
}

.contact-btn {
    color: #767676;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 90px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    transition: 0.4s;
}

.contact-btn:hover {
    background-color: #F8FFFB;
    color: black;
}

#about {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    background-color: rgba(178, 178, 178, 0.1);
    border-radius: 30% 30% 30% 30% / 20% 80% 20% 80%;
}

.about-flex {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    width: 70%;
}

.dev-skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.skill {
    border: 3px solid rgba(178, 178, 178, 0.9);
    width: 100px;
    height: 100px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill img {
    width: 5vw;
}

#projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50rem;
    width: 100%;
}

#all-proj {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.proj-img {
    width: 28vw;
}

.proj-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
}

.web-img {
    width: 3vw;
}

.git-img {
    width: 3vw;
}

.proj-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#contact {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 6rem;
    height: 20rem;
    background: rgb(43,43,43);
    background: linear-gradient(180deg, rgba(43,43,43,1) 0%, rgba(184,185,185,1) 50%);
    box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.85);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 500px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  input,
  textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    font-size: 16px;
    max-width: 188px;
    max-height: 188px;
    box-sizing: border-box;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    border-color: #000000;
  }

  .send-btn:hover {
    background-color: #EB0404;
  }

  .send-btn {
    padding: 15px 40px;
    background: #FF3333;;
    border:0;
    color: #fff;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 12px;
    letter-spacing: 3px;
    position: relative;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    display: block;
  }
  
  .send-btn::after,
  .send-btn::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
      opacity: 0;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .send-btn::after{
      width: 30px;
      height: 1px;
      background: white;
      transform: translateX(-3px);
      margin-top: 0px;
  }
  
  .send-btn::before{
      content: "";
      transform: rotate(-135deg) translateX(50%);
      width: 11px;
      height: 11px;
      background: transparent;
      border-left: 1px solid white;
      border-bottom: 1px solid white;
    margin-top: -1px;
  }
  
  
  .send-btn:hover{
    padding: 15px 60px 15px 20px;
  }
  
  .send-btn:hover::after,
  .send-btn:hover::before{
    opacity: 1;
    right: 15px;
  }

  .sent-btn {
    padding: 15px 40px;
    background: #EB0404;
    border:0;
    color: #fff;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 12px;
    letter-spacing: 3px;
    position: relative;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: auto;
    display: block;
    margin-bottom: 12rem;
  }

  .typing-demo {
    width: 26ch;
    animation: typing 2s steps(26), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.3rem;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  #footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 40px 80px;
    background: rgb(184,185,185);
  }

  #footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: underline;
  }

  #footer img {
    width: 40px;
    height: 35px;
  }

  @media screen and (max-width: 1200px) {
    section {
      padding: 50px;
    }
  
      #home {
          margin-top: 3rem;
          gap: 50px;
      }
  
      #home h1 {
      font-size: 2.8rem;
      }
  
      #home h2 {
          font-size: 1.7rem;
      }
  
      #home img {
          height: 28vh;
          width: 33vw;
      }
  
      .home-flex {
          width: 70%;
      }
  
      .heading-txt {
          margin-top: 1rem;
      }
  
      .contact-btn {
          font-size: 14px;
          width: 70px;
      }

      #about {
        font-size: .8rem;
      }

      .about-flex {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
        width: 80%;
    }
    
  }

  @media screen and (max-width: 956px) {

    #about {
      font-size: .7rem;
    }

    .skill {
      border: 3px solid rgba(178, 178, 178, 0.9);
      width: 5vw;
      height: 5.2vh;
      padding: 12px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .skill img {
    width: 4vw;
  }

  }

@media screen and (max-width: 768px) {

  section {
    padding: 30px;
  }

    #home {
        margin-top: 3rem;
        gap: 50px;
    }

    #home h1 {
    font-size: 2rem;
    }

    #home h2 {
        font-size: 1.2rem;
    }

    #home img {
        height: 30vh;
        width: 40vw;
    }

    .home-flex {
        width: 80%;
    }

    .heading-txt {
        margin-top: 1rem;
    }

    .contact-btn {
        font-size: 14px;
        width: 70px;
    }

    #about {
      font-size: .6rem;
    }

    .skill {
      border: 2px solid rgba(178, 178, 178, 0.9);
  }
}

@media screen and (max-width: 600px) {

  #about {
    font-size: .5rem;
  }

  .skill {
    border: 2px solid rgba(178, 178, 178, 0.9);
    width: 3vw;
    height: 2vh;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill h3 {
  font-size: .5rem;
}

}

@media screen and (max-width: 500px) {

  section {
    padding: 20px;
  }

    #home {
        margin-top: 3rem;
        gap: 50px;
    }

    #home h1 {
    font-size: 1.7rem;
    }

    #home h2 {
        font-size: 1rem;
    }

    #home img {
        height: 25vh;
        width: 38vw;
    }

    .home-flex {
        width: 100%;
    }

    .heading-txt {
        margin-top: 1rem;
    }

    .contact-btn {
        font-size: 14px;
        width: 70px;
    }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
  section {
    padding: 20px;
  }

  #home {
    height: 50vh;
  }

  #home img {
    height: 40vh;
    width: 40vw;
  }
}

@media screen and (max-width: 462px) {
  section {
    padding: 20px;
    gap: 7rem;
  }

#home h1 {
font-size: 1.2rem;
}

#home h2 {
    font-size: .9rem;
}

#home img {
    height: 25vh;
    width: 36vw;
}

.home-flex {
    width: 100%;
}

.heading-txt {
    margin-top: 1rem;
}

.contact-btn {
    font-size: 14px;
    width: 70px;
}

#about {
  font-size: .5rem;
  border-radius: 20% 20% 20% 20% / 20% 20% 20% 20%;
  padding: 10px;
}

.skill {
  border: 2px solid rgba(178, 178, 178, 0.9);
  width: 4vw;
  height: 2.5vh;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill h3 {
font-size: .5rem;
}

.about-flex {
  width: 100%;
}

}

@media only screen and (max-width: 768px) {
  #projects {
    flex-direction: column;
    height: auto;
    gap: 10px;
  }

  .proj-img {
    width: 80%;
  }

  .proj-card {
    width: 80%;
  }

  .web-img,
  .git-img {
    width: 5vw;
  }
}

/* Media queries for mobile view */
@media only screen and (max-width: 480px) {
  .proj-img {
    width: 100%;
  }

  .proj-card {
    width: 100%;
  }

  .web-img,
  .git-img {
    width: 10vw;
  }
}





